{% extends 'base.html' %}
{% block title %} {{user.nickname}} {% endblock %}
{% block h1 %}
{% endblock %}
{% block content %}
<div>
    <div>{{ user.nickname }}</div>
    <div><img src="{{ url_for ('static', filename= 'avatars/'+ user.profile_image) }}"></div>
</div>
<div>
    <div>Posts:</div>
    {% if posts %}
        {% for p in posts %}
            <div>{{p.title_post}}</div>
        {% endfor %}
    {% else %}
        <div>{{ user.nickname }} didn`t create no one more post</div>
    {% endif %}
</div>
{% endblock %}