{% extends 'base.html' %}
{% block title %}Create your category{% endblock %}
{% block h1 %}
<form method="post">
        <input placeholder="Name of Category" id='title' name='title' class="bg-gray-700 align-top p-1 rounded-md border-solid border-slate-600 border-0.5 wid-300 mt-2"><br>
        <input placeholder="Description" id='description' name='description' class="bg-gray-700 align-top p-1 rounded-md border-solid border-slate-600 border-0.5 wid-300 mt-2"><br>
        <input type='hidden' name="creator" value=" {{ current_user.id }} ">
        <input placeholder="Create Category" type="submit" class="bg-gray-700 align-top p-1 rounded-md border-solid border-slate-600 border-0.5 wid-300 mt-2">

</form>
{% endblock %}
{% block content %} {% endblock %}